.dashboard {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin: auto;
  width: 80%;
}

@media screen and (min-width: 560px) {
  .dashboard {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
