.expense {
  border: 1px solid black;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.4rem;
  width: 95%;
}

.expense-date {
  font-size: 0.8rem;
  color: #808080;
}

.detail {
  display: flex;
  flex-direction: column;
}
