.form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
    border: 1px solid black;
    padding: 0.4rem;
    height: calc(100% -30vh);
    margin-top: 0.2rem;
    border-radius: 0.3rem;
  }
  
  .form-header {
    background-color: black;
    padding: 0.5rem;
    text-align: center;
    font-size: 2rem;
    color: white;
  }
  
  @media screen and (min-width: 560px) {
    .form {
      width: 50%;
      height: calc(100% - 500px);
    }
  }
  
  .form-field {
    margin-top: 1rem;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
  }
  
  .form-button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .form-field input {
    padding: 0.3rem;
    border-radius: 0.3rem;
    width: 100%;
  }
  
  .form-field select {
    width: 90%;
    padding: 0.3rem;
    border-radius: 0.3rem;
  }
  
  button {
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.4rem;
    color: white;
    background-color: black;
  }
  
  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
  }
  