.home {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-direction: column;
}

.about {
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 560px) {
  .home {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .about {
    width: 50%;
  }
}
